{% extends 'base.html.twig' %}

{% block title %}Les organismes{% endblock %}

{% block body %}
    <div class="organisms page-with-background" id="organisms">
        <div class="container mt-5 pt-5 mb-5 pb-5">
            <div class="row">
                <div class="col-md-7">
                    <div class="page-title">
                        Les organismes
                    </div>
                </div>
            </div>
        </div>
        <div class="container my-5">
            <div class="row">
                {% include './listUtils/search.html.twig' %}
            </div>
        </div>
        <div class="container">
            <div class="row list">
                {% for organism in organisms %}
                    <div class="col-md-4 mb-5">
                        {% include './organisms/organismsCard.html.twig' with {'organism': organism} %}
                    </div>
                {% endfor %}
            </div>
        </div>
    </div>
{% endblock %}

{% block bottom_scripts %}
    <script>
        const options = {
            valueNames: [ 'name' ],
        };

        const list = new List('organisms', options);
    </script>
{% endblock %}
