<div class="card">
    <div class="card-title mb-4 name">
        {{ organism.name }}
    </div>
    <div class="card-content">
        <div class="card-description mb-3">
            {{ organism.description }}
        </div>
    </div>
    <div class="card-link">
        <a class="white-button" target="_blank" href="{{ organism.link }}">Voir le site</a>
    </div>
</div>