@font-face {
    font-family: 'tt_normsregular';
    src: url('./font/ttnorms-regular-webfont.woff2') format('woff2'),
    url('./font/ttnorms-regular-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'tt_normsbold';
    src: url('./font/ttnorms-bold-webfont.woff2') format('woff2'),
    url('./font/ttnorms-bold-webfont.woff') format('woff');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}

/* general */
body {
    overflow-x: hidden;
    font-family: 'tt_normsregular', sans-serif;
}
header {
    margin-top: 4rem;
    font-size: 1.5rem;
}
h1, h2, h3 {
    font-size: inherit;
    margin: inherit;
    display: inherit;
    font-weight: inherit;
}
header a {
    text-decoration: none;
}
a {
    color: black;
}
.default-text {
    font-size: calc(12px + 0.7vw);
}
.head-title {
    font-size: calc(12px + 3vw);
    font-weight: bold;
    font-family: 'tt_normsbold', sans-serif;
    /*color: rgba(245,239,215,0);*/
    /*-webkit-text-stroke: 2px black;*/
    /*-webkit-text-stroke-color: black;*/
}
iframe {
    border-radius: 30px;
    border: none;
}
.card iframe {
    width: calc(100% + 60px);
    transform: translate(-30px, 5px);
}
.card-link {
    font-size: 1.2rem;
    margin-top: auto;
}
.page-title {
    font-size: calc(12px + 3vw);
    font-weight: bold;
    font-family: 'tt_normsbold', sans-serif;
}
.home-head-title {
    transform: translateY(10vh);
}
.main-line {
    font-size: calc(12px + 1.5vw);
    font-weight: bold;
    font-family: 'tt_normsbold', sans-serif;
    transform: translateY(10vh);
}
.head-image {
    transform: translateX(-13vw);
}
.head-image img {
    max-width: 60vw;
}
.page-image img {
    max-width: 30vw;
}
.main-image img {
    max-width: 30vw;
}
button {
    font-size: 1.2rem;
    padding: 14px 25px;
    border-radius: 25px;
    border: none;
    display: inline-block;
    color: #2e2e2e;
    text-decoration: none;
    background-color: #F2F2F2;
}
.big {
    font-size: 1.3rem;
    padding: 20px 40px;
}
button:hover {
    cursor: pointer;
}
button:focus, input:focus {
    outline: none;
}
/* utils */
.my-10 {
    margin-top: 18rem;
    margin-bottom: 10rem;
}
.mb-10 {
    margin-bottom: 18rem;
}
.bold {
    font-family: 'tt_normsbold', sans-serif;
    font-weight: bold;
}
.ghost-image {
    height: 1px;
}
.flip-image {
    -webkit-transform: scaleX(-1)translate(33vw);
    transform: scaleX(-1) translate(33vw);
}
/* card */
.card {
    padding: 50px 30px;
    background-color: #e5e5e5;
    border-radius: 30px;
    height: 100%;
    display: flex;
    flex-direction: column;
}
.card-title {
    font-family: 'tt_normsbold', sans-serif;
    font-size: calc(12px + 0.7vw);
}
.card-author {
    transform: translateY(-10px);
    font-size: calc(12px + 0.5vw);
    white-space: nowrap;
}
/* page background */
.page-with-background {
    overflow: auto;
    position: relative;
}
.page-with-background::before {
    content: "";
    position: fixed;
    left: 0;
    right: 0;
    z-index: -1;

    display: block;
    background-size: 50%;
    background-repeat: no-repeat;
    background-position: top right;
    width: 100%;
    height: 100%;
}
.reports::before {
    background-image: url('./img/write.png');
    background-position: top 15% right;
    background-size: 40%;
}
.organisms::before {
    background-image: url('./img/explore.png');
    background-position: top 5% right;
    background-size: 36%;
}
.ressources::before {
    background-image: url('./img/read.png');
    background-size: 40%;
    background-position: top 5% right;
}
.infos::before {
    background-image: url('./img/hand.png');
    background-size: 19%;
}
/* visits */
.visits {
    position: absolute;
    top: 15px;
    left: 15px;
    color: black;
}

/* list */
.search {
    border-radius: 25px;
    padding: 15px 14px;
    background-color: transparent;
    border: solid 1px rgba(0,0,0,0.2);
    box-sizing: border-box;
    color: #2e2e2e;
}
.search::placeholder {
    font-size: 1rem;
}
.sort, .filter, .reset {
    font-size: 1.2rem;
    padding: 5px 15px;
    border-radius: 25px;
    border: none;
    display: inline-block;
    color: #2e2e2e;
    text-decoration: none;
    background-color: #F2F2F2;
}
.sort.asc:after {
    width: 0;
    height: 0;
    border-left: 4px solid transparent;
    border-right: 4px solid transparent;
    border-top: 4px solid #2e2e2e;
    content: "";
    position: relative;
    top: 15px;
    right: -4px;
}
.sort.desc:after {
    width: 0;
    height: 0;
    border-left: 4px solid transparent;
    border-right: 4px solid transparent;
    border-bottom: 4px solid #2e2e2e;
    content: "";
    position: relative;
    top: -11px;
    right: -4px;
}

/* animation */
/***** Fade in on a page load *****/
.fadeInLoad {
    animation: fadeInLoad .6s cubic-bezier(0.855, -0.255, 1.000, 1.000);
}
@keyframes fadeInLoad {
    from {
        opacity:0;
    }
    to {
        opacity:1;
    }
}