<div class="col-auto pr-0">
    <button class="sort" data-sort="author">
        Tri par auteur
    </button>
</div>
<div class="col-auto pl-2">
    <select name="author-select" class="filter" id="author-select">
        <option value="default">Filtre par auteur</option>
    </select>
</div>