{#<div class="col-auto pr-0">#}
{#    <button class="sort" data-sort="author">#}
{#        Tri par auteur#}
{#    </button>#}
{#</div>#}
<div class="col-auto pr-0">
    <div class="select">
        <label for="select-multiple-author" class="mb-2 d-block">Auteur</label>
        <select id="select-multiple-author" multiple>
        </select>
    </div>
</div>