<div class="col-auto pr-0">
    <div class="select">
        <label for="select-multiple-format" class="mb-2 d-block">Format</label>
        <select id="select-multiple-format" multiple>
        </select>
    </div>
</div>