{% extends 'base.html.twig' %}

{% block title %}Les ressources{% endblock %}

{% block body %}
    {% include './listUtils/lazyLoadYoutubeStyle.html.twig' %}
    <div class="ressources page-with-background" id="ressources">
        <div class="container-fluid mt-3 mt-md-5 pt-3">
            <div class="row">
                <div class="col-md-7">
                    <div class="page-title">
                        <h1>Les ressources</h1>
                    </div>
                </div>
            </div>
        </div>
        <div class="container-fluid my-3 my-md-5 filters-bar">
            <div class="row">
                {% include './listUtils/search.html.twig' %}
            </div>
            <div class="row align-items-end">
                {% include './listUtils/authorFilter.html.twig' %}
                {% include './listUtils/typeFilter.html.twig' %}
                {% include './listUtils/themeFilter.html.twig' %}
                {% include './listUtils/reset.html.twig' %}
            </div>
        </div>
        <div class="container-fluid ressources-wrapper">
            <div class="row">
                <div class="col mb-3">
                    <div id="ressources-total" class=" pl-3">
                    </div>
                </div>
            </div>
            <div class="no-result row">
                <div class="col my-auto">
                    Pas de ressources correspondant à la recherche.
                </div>
            </div>
            <div class="row list">
                {% for ressource in ressources %}
                    <div class="col-md-6 col-lg-4 col-xxl-3 mb-4">
                        {% include './ressources/ressourceCard.html.twig' with {'ressource': ressource} %}
                    </div>
                {% endfor %}
            </div>
            <ul class="pagination" hidden></ul>
            <div class="row my-3">
                <div class="col justify-content-center text-center list-loader">
                    <div class="dot-typing mx-auto"></div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}

{% block bottom_scripts %}
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/multiple-select-js/dist/css/multiple-select.css">
    <script src="https://cdn.jsdelivr.net/npm/multiple-select-js/dist/js/multiple-select.js"></script>
    {% include './listUtils/lazyLoadYoutubeScript.html.twig' %}
    <script>
        const itemsPerPage = 20;
        const options = {
            pagination: true,
            page: itemsPerPage,
            valueNames: ['author', 'title', 'type',  { name: 'theme', attr: 'data-theme' }],
        };

        const list = new List('ressources', options);
        list.add(() => {
        });

        let scrolling = false;
        let page = 1;
        let maxPage = Math.ceil(list.items.length / itemsPerPage);
        const scrollThrottle = 250;
        const loadingTime = 700;

        window.addEventListener('scroll', function(e) {
            scrolling = true;
        });

        setInterval(() => {
            if (scrolling) {
                const container = document.querySelector(".ressources-wrapper");
                const containerPosY = container.getBoundingClientRect().top;
                const scrollPosY = window.scrollY;
                const containerList = document.querySelector(".ressources-wrapper .list");
                const containerListY = containerList.offsetHeight;
                const offsetY = 15;

                if (containerPosY < 0 && containerPosY + containerListY - offsetY > 0 && page < maxPage) {
                    document.querySelector('.list-loader').classList.add('d-block')
                    setTimeout(() => {
                        page++;
                        list.show(0, page * itemsPerPage);
                        document.querySelector('.list-loader').classList.remove('d-block')
                        loadYtbVideos()
                    }, loadingTime)
                }
                else if (scrollPosY + containerPosY < containerPosY + offsetY) {
                    // reached top
                }

                scrolling = false;
            }
        }, scrollThrottle);

        document.querySelector("#ressources-total").textContent = list.matchingItems.length + ' ressouces trouvées'

        list.on('updated', function(list) {
            if (list.matchingItems.length > 0) {
                document.querySelector("#ressources-total").textContent = list.matchingItems.length + ' ressouces trouvées'
                document.querySelector('.no-result').style.display = 'none'
            } else {
                document.querySelector('.no-result').style.display = 'flex'
            }
        })
        const activeFilters = [];
    </script>
    {% include './listUtils/filterList.html.twig' %}
    {% include './listUtils/authorScripts.html.twig' %}
    {% include './listUtils/typeScripts.html.twig' %}
    {% include './listUtils/themeScripts.html.twig' %}
    {% include './listUtils/loadPersonalizedSearch.html.twig' %}
    <script>
        new MultipleSelect('#select-multiple-format', {
            placeholder: 'Filtre par format',
        })
        new MultipleSelect('#select-multiple-author', {
            placeholder: 'Filtre par auteur',
        })
        new MultipleSelect('#select-multiple-theme', {
            placeholder: 'Filtre par thème',
        })
    </script>
    {% include './listUtils/multiselectInitializer.html.twig' %}
    <script>
        const onStickyChangeBackground = (event) => {
            if (event[0].isIntersecting) {
                document.querySelector('.filters-bar').classList.remove('filters-bar-filled')
            } else {
                document.querySelector('.filters-bar').classList.add('filters-bar-filled')
            }
        }
        const observer = new IntersectionObserver(onStickyChangeBackground, {
            rootMargin: '-1px 0px 0px 0px',
            threshold: [1],
        });

        observer.observe(document.querySelector('.filters-bar'));
    </script>
    <script>
        loadYtbVideos()
    </script>
{% endblock %}