{% extends 'base.html.twig' %}

{% block title %}Les ressources{% endblock %}

{% block body %}
    <div class="ressources page-with-background" id="ressources">
        <div class="container-fluid mt-5 pt-3">
            <div class="row">
                <div class="col-md-7">
                    <div class="page-title">
                        <h1>Les ressources</h1>
                    </div>
                </div>
            </div>
        </div>
        <div class="container-fluid my-5">
            <div class="row">
                {% include './listUtils/search.html.twig' %}
            </div>
            <div class="row">
                {% include './listUtils/authorFilter.html.twig' %}
                {% include './listUtils/typeFilter.html.twig' %}
                {% include './listUtils/reset.html.twig' %}
            </div>
        </div>
        <div class="container-fluid">
            <div class="row list">
                {% for ressource in ressources %}
                    <div class="col-md-4 mb-5">
                        {% include './ressources/ressourceCard.html.twig' with {'ressource': ressource} %}
                    </div>
                {% endfor %}
            </div>
        </div>
    </div>
{% endblock %}

{% block bottom_scripts %}
    <script>
        const options = {
            valueNames: ['author', 'title', 'type'],
        };

        const list = new List('ressources', options);
        const activeFilters = [];

        const filterList = () => {
            list.filter(function (item) {
                if (activeFilters.length > 0) {
                    let shown = true;
                    let mandatoryShown = false;
                    let hasAtLeastOneTrueShown = false;
                    activeFilters.forEach(function(filter) {
                        if (item.values()[filter.type] !== filter.value) {
                            shown = false;
                        }
                        if (filter.type ==='type' && item.values()[filter.type] === filter.value) {
                            mandatoryShown = true
                        }
                        if (filter.type !== 'type' && item.values()[filter.type] === filter.value) {
                            hasAtLeastOneTrueShown = true;
                        }
                        if (filter.type === 'author' && filter.value === 'default') {
                            shown = true;
                            hasAtLeastOneTrueShown = true;
                        }
                    });

                    if (mandatoryShown && (activeFilters.filter(filter => filter.type !== 'type').length === 0 || hasAtLeastOneTrueShown)) {
                        return true;
                    }

                    return shown;
                }
                return true;
            });
            list.update();
        }
    </script>
    {% include './listUtils/authorScripts.html.twig' %}
    {% include './listUtils/typeScripts.html.twig' %}
{% endblock %}
