{% extends 'base.html.twig' %}

{% block title %}Les ressources{% endblock %}

{% block body %}
    <div class="ressources page-with-background" id="ressources">
        <div class="container-fluid mt-3 mt-md-5 pt-3">
            <div class="row">
                <div class="col-md-7">
                    <div class="page-title">
                        <h1>Les ressources</h1>
                    </div>
                </div>
            </div>
        </div>
        <div class="container-fluid my-5">
            <div class="row">
                {% include './listUtils/search.html.twig' %}
            </div>
            <div class="row align-items-end">
                {% include './listUtils/authorFilter.html.twig' %}
                {% include './listUtils/typeFilter.html.twig' %}
                {% include './listUtils/themeFilter.html.twig' %}
                {% include './listUtils/reset.html.twig' %}
            </div>
        </div>
        <div class="container-fluid ressources-wrapper">
            <div class="no-result row">
                <div class="col my-auto">
                    Pas de ressources correspondant à la recherche.
                </div>
            </div>
            <div class="row list">
                {% for ressource in ressources %}
                    <div class="col-md-6 col-lg-4 col-xxl-3 mb-4">
                        {% include './ressources/ressourceCard.html.twig' with {'ressource': ressource} %}
                    </div>
                {% endfor %}
            </div>
        </div>
    </div>
{% endblock %}

{% block bottom_scripts %}
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/multiple-select-js/dist/css/multiple-select.css">
    <script src="https://cdn.jsdelivr.net/npm/multiple-select-js/dist/js/multiple-select.js"></script>
    <script>
        const options = {
            valueNames: ['author', 'title', 'type',  { name: 'theme', attr: 'data-theme' }],
        };

        const list = new List('ressources', options);
        list.on('updated', function(list) {
            if (list.matchingItems.length > 0) {
                document.querySelector('.no-result').style.display = 'none'
            } else {
                document.querySelector('.no-result').style.display = 'flex'
            }
        })
        const activeFilters = [];
    </script>
    {% include './listUtils/filterList.html.twig' %}
    {% include './listUtils/authorScripts.html.twig' %}
    {% include './listUtils/typeScripts.html.twig' %}
    {% include './listUtils/themeScripts.html.twig' %}
    {% include './listUtils/loadPersonalizedSearch.html.twig' %}
    <script>
        new MultipleSelect('#select-multiple-format', {
            placeholder: 'Filtre par format',
        })
        new MultipleSelect('#select-multiple-author', {
            placeholder: 'Filtre par auteur',
        })
        new MultipleSelect('#select-multiple-theme', {
            placeholder: 'Filtre par thème',
        })
    </script>
    {% include './listUtils/multiselectInitializer.html.twig' %}
{% endblock %}