{% extends 'base.html.twig' %}

{% block title %}Hello ReportController!{% endblock %}

{% block body %}
    <div class="ressources">
        <div class="container mt-5 pt-5 mb-5 pb-5">
            <div class="row">
                <div class="col-md-7">
                    <div class="page-title">
                        Les ressources
                    </div>
                </div>
            </div>
        </div>
        <div class="container">
            <div class="row">
                {% for ressource in ressources %}
                    <div class="col-md-4 mb-5">
                        {% include './ressources/ressourceCard.html.twig' with {'ressource': ressource} %}
                    </div>
                {% endfor %}
            </div>
        </div>
    </div>
{% endblock %}
