{% extends 'base.html.twig' %}

{% block title %}Confirmation contact{% endblock %}

{% block body %}
    <div class="contact_confirmation page-with-background">
        <div class="container-fluid mt-md-5 pt-3">
            <div class="row">
                <div class="col mb-4">
                    <div class="page-title">
                        Confirmation
                    </div>
                </div>
            </div>
        </div>
        <div class="container-fluid mb-10">
            <div class="row">
                <div class="col-8 default-text">
                    <h1>Votre message a été envoyé avec succès.</h1>
                    <div class="mt-4"><a href="{{ path('home') }}" class="btn">Retour à l'accueil</a></div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
