{% extends 'base.html.twig' %}

{% block title %}Hello InfoController!{% endblock %}

{% block body %}
    <div class="infos page-with-background">
        <div class="container mt-5 pt-5 mb-5 pb-5">
            <div class="row">
                <div class="col-md-7">
                    <div class="page-title">
                        Pourquoi cette plateforme ?
                    </div>
                </div>
            </div>
        </div>
        <div class="container">
            <div class="row">
                <div class="col default-text">
                    Regrouper au même endroit les rapports des experts qui travaillent sur l'étude de l'Anthropocène.
                </div>
            </div>
        </div>
        <div class="container mt-5 pt-5 mb-5 pb-5">
            <div class="row">
                <div class="col-md-7">
                    <div class="page-title">
                        Qui suis-je ?
                    </div>
                </div>
            </div>
        </div>
        <div class="container">
            <div class="row">
                <div class="col default-text">
                   Un citoyen qui se sent concerné par ce sujet et ces enjeux.
                </div>
            </div>
        </div>
    </div>
{% endblock %}
