{% extends 'base.html.twig' %}

{% block title %}Info{% endblock %}

{% block body %}
    <div class="infos page-with-background">
        <div class="container-fluid mt-md-5 pt-3">
            <div class="row">
                <div class="col mb-4">
                    <div class="page-title">
                        Pourquoi cette plateforme ?
                    </div>
                </div>
            </div>
        </div>
        <div class="container-fluid">
            <div class="row">
                <div class="col-12 default-text">
                    <div class="pb-1"><h1 class="mb-1 pb-2"><span class="highlight">Regrouper au même endroit les ressources et rapports sur l'environnement.</span></h1></div>
                    <p class="mt-2"><span class="highlight">Donner un peu plus de visibilité à un sujet sous représenté dans les médias.</span></p>
                    <p class="mt-2"><span class="highlight">Mettre en lumière le travail sérieux, souvent occulté par le sensationnel.</span></p>
                    <p class="mt-2"><span class="highlight">Permettre à chacun de s'informer sur ces sujets selon son format préféré (infographie, livre, ...).</span></p>
                </div>
            </div>
        </div>
        <div class="container-fluid mt-5 pt-3 pt-md-5">
            <div class="row">
                <div class="col-md-7 mb-4">
                    <div class="page-title">
                        Qui suis-je ?
                    </div>
                </div>
            </div>
        </div>
        <div class="container-fluid">
            <div class="row">
                <div class="col default-text">
                   <p><span class="highlight">Un citoyen qui se sent concerné par ce sujet et ces enjeux.</span></p>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
