{% extends 'base.html.twig' %}

{% block title %}Info{% endblock %}

{% block body %}
    <div class="infos page-with-background">
        <div class="container-fluid mt-md-5 pt-3">
            <div class="row">
                <div class="col mb-4">
                    <div class="page-title">
                        Pourquoi cette plateforme ?
                    </div>
                </div>
            </div>
        </div>
        <div class="container-fluid">
            <div class="row">
                <div class="col-8 default-text">
                    <h1>Regrouper au même endroit les ressources et rapports sur l'environnement.</h1>
                    <div class="mt-2">Donner un peu plus de visibilité à un sujet sous représenté dans les médias.</div>
                    <div class="mt-2">Mettre en lumière le travail sérieux, souvent occulté par le sensationnel.</div>
                    <div class="mt-2">Permettre à chacun de s'informer sur ces sujets selon son format préféré (infographie, livre, ...).</div>
                </div>
            </div>
        </div>
        <div class="container-fluid mt-5 pt-3 pt-md-5">
            <div class="row">
                <div class="col-md-7 mb-4">
                    <div class="page-title">
                        Qui suis-je ?
                    </div>
                </div>
            </div>
        </div>
        <div class="container-fluid">
            <div class="row">
                <div class="col default-text">
                   Un citoyen qui se sent concerné par ce sujet et ces enjeux.
                </div>
            </div>
        </div>
    </div>
{% endblock %}
