{% extends 'base.html.twig' %}

{% block title %}Les rapports{% endblock %}

{% block body %}
    <div class="reports page-with-background" id="reports">
        <div class="container-fluid mt-5 pt-5 mb-5 pb-5">
            <div class="row">
                <div class="col-md-7">
                    <div class="page-title">
                        <h1>Les rapports</h1>
                    </div>
                </div>
            </div>
        </div>
        <div class="container-fluid my-5">
            <div class="row">
                {% include './listUtils/search.html.twig' %}
                {% include './listUtils/authorFilter.html.twig' %}
                {% include './listUtils/reset.html.twig' %}
            </div>
        </div>
        <div class="container-fluid">
            <div class="row list">
                {% for report in reports %}
                    <div class="col-md-4 mb-5">
                        {% include './report/reportCard.html.twig' with {'report': report} %}
                    </div>
                {% endfor %}
            </div>
        </div>
    </div>
{% endblock %}

{% block bottom_scripts %}
    <script>
        const options = {
            valueNames: [ 'author', 'title' ],
        };

        const list = new List('reports', options);
    </script>
    {% include './listUtils/authorScripts.html.twig' %}
{% endblock %}