<div class="card">
    <div class="card-author author">
        {{ report.author }}
    </div>
    <div class="card-title mb-4 title">
        {{ report.title|capitalize }}
    </div>
        {% if report.fullReportLink %}
            <div class="card-link mb-3">
                <a class="main-action" target="_blank" href="{{ report.fullReportLink }}">Rapport complet</a>
            </div>
        {% endif %}
        {% if report.lightReportLink %}
            <div class="card-link mb-3">
                <a class="main-action" target="_blank" href="{{ report.lightReportLink }}">Synthèse</a>
            </div>
        {% endif %}
</div>