<div class="card">
    <div class="card-author author">
        {{ report.author }}
    </div>
    <div class="card-title mb-4 title">
        {{ report.title }}
    </div>
        {% for reportLink in report.links %}
            <div class="card-link mb-3">
                <a class="white-button" target="_blank" href="{{ reportLink.link }}">{{ reportLink.title }}</a>
            </div>
        {% endfor %}
</div>